{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}About BearStatus{{title}} {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
      <div>
        <h1>About BearStatus</h1>
          <br>
          <p class="lead">Development Team</p>
          <p>
            BearStatus was created by the Fall 2013 Blake Computer Science class (taught by Sean Hickey).
          </p>
          <p>
            <strong>Frontend Development:</strong> Allison Eastham, Jason Shu, Teddy Ankeny, Pierce Carlson<br>
            <strong> Backend Development:</strong> Kevin Hayes, Laura DeMane, Anthony Hu, Marcus Berg<br>
            <strong>Integration:</strong> Noah Abramovitz, Yona Cooperman, Ben Weinshel, Brynne Swearingen<br>
            <strong>Project Management:</strong> Walker Bond, Quinn Ellis, Carolyn Nye, Meghna Kaul
          </p>
           <p>Continuing development done by Ben Weinshel and Jason Shu.</p>
           <p>
             Source code available on <a href="https://github.com/clnye15/CS-Final-Project-Prototype/">Github</a>.
           </p>
      <br/>
      <a href="http://goo.gl/gaRWSB"> &nbsp; </a>
      </div>
      <br>
    </div><!-- /.container -->
{% endblock %}