{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}About BearStatus{{title}} {% endblock %}
{% block head %}
    {{ super() }}
    <meta name="description" content="Learn about, BearStatus, the schedule keeper for The Blake School">
{% endblock %}
{% block content %}
  <div class="container">
      <div>
        <h1>About BearStatus</h1>
          <h3>Development Team</h3>
          <p>
            BearStatus was created by the Blake School Fall 2013 Computer Science class, taught by Sean Hickey. Continuing development and promotion is being done by Ben Weinshel and Jason Shu '15.
          </p>
          <p>
            <strong>Frontend Development:</strong> Allison Eastham '14, Jason Shu '15, Teddy Ankeny '14, Pierce Carlson '15<br>
            <strong> Backend Development:</strong> Kevin Hayes '14, Laura DeMane '15, Anthony Hu '15, Marcus Berg '14<br>
            <strong>Integration:</strong> Noah Abramovitz '14, Yona Cooperman '15, Ben Weinshel '15, Brynne Swearingen '15<br>
            <strong>Project Management:</strong> Walker Bond '15, Quinn Ellis '15, Carolyn Nye '15, Meghna Kaul '14
          </p>
           <p>
             Our source code is available on <a href="https://github.com/shickey/BearStatus/">Github</a>.
           </p>
      <br/>
      <a href="http://goo.gl/gaRWSB"> &nbsp; </a>
      </div>
      <br>
    </div><!-- /.container -->
{% endblock %}