<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Support "add to home screen" on mobile -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BearStatus">
    
    <!-- Icons -->    
    <link rel="icon" sizes="32x32" href="/view/images/icon32.png">
    <link rel="icon" sizes="196x196" href="/view/images/icon196.png">
    <link rel="icon" sizes="120x120" href="/view/images/icon120.png">
    <link rel="icon" sizes="16x16" href="/view/images/icon16.png">
    <link rel="apple-touch-icon" sizes="196x196" href="/view/images/icon196.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/view/images/icon120.png">
        
    <title>BearStatus - Administration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    
    <!-- Custom styles for this template -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="view/stylesheets/site.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="view/stylesheets/admin.css"> -->
    
    <!-- Google Fonts stylesheet -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    
  </head>
  <body>

   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="logo" href="/">BearStatus</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          
          <li><a href="/">Home</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/admin">Edit</a></li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
      <br/>
      <br/>
      <div id="center">
        <form action="/edit" method="get">
          <h1>Add special schedule:</h1><br/><input type="text" id="datepicker" placeholder="Date" name="date" class="lead">
          <input type="submit" class="btn btn-primary btn-lg" value="Edit">
        </form>
        <br/>
        <br/>
        <br/>
      </div>
    
      <div id="center">
        <form action="/revertdate" method="get">
          <h3>Delete special schedule:</h3><br/><input type="text" id="datepickerR" placeholder="Date" name="dateR">
          <input type="submit" class="btn btn-primary" value="Revert">
        </form>
        <br/>
      </div>
      
      <div class="starter-template" id="center">
      <div id="center">
        <form action="/changelunch" method="get">
          <h3>Change split lunch link:</h3><br/><input type="text" id="lunchurl" placeholder="Link" name="lunchurl" size="60">
          <input type="submit" class="btn btn-primary" value="Save">
        </form>
      </div>
      <br/>
      <br/>
      <footer>
        <p>Created by the 2013 Blake School Computer Science Class<br>
          <a href="http://goo.gl/gaRWSB">Request a Feature</a> • <a href="/admin">Admin Login</a></p>
      </footer>
    </div><!-- /.container -->

    <!-- jQuery custom stylesheets for the datepicker -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  
    
    <!--Local datepicker js-->
    <script src="view/javascript/dates.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>