{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %}Admin - BearStatus{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
      <div class="container">
      <br/>
      <br/>
      <div class="col-md-6">
        <h1>Add special schedule:</h1>
        <form action="/edit" method="get">
          <div class="input-group">
            <input type="text" class="form-control" id="datepicker" placeholder="Date" name="date">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Edit</button>
            </span>
          </div>
        </form>
        
      <br>
      
      <div>
        <h1><small>Delete special schedule:</small></h1>
        <form action="/revertdate" method="get">
          <div class="input-group">
            <input type="text" class="form-control" id="datepickerR" placeholder="Date" name="dateR">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Revert</button>
            </span>
          </div>
        </form>
      </div>
      
      <br>
      
      <div>
        <h1><small>Change split lunch link:</small></h1>
        <form action="/changelunch" method="get">
          <div class="input-group">
            <input type="url" class="form-control" id="lunchurl" placeholder="URL" name="lunchurl">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Save</button>
            </span>
          </div>
        </form>
      </div>
      
      <div>
        <h1><small>Change feedback link:</small></h1>
        <form action="/changefeedback" method="get">
          <div class="input-group">
            <input type="url" class="form-control" id="feedbackurl" placeholder="URL" name="feedbackurl">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Save</button>
            </span>
          </div>
        </form>
      </div>
      
      <br/>
      <br/>
      <br/>
      </div>
    </div><!-- /.container -->
{% endblock %}
{% block pageend %}
  {{ super() }}
    <!-- jQuery custom stylesheets for the datepicker -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <!--Local datepicker js-->
    <script src="view/javascript/dates.js"></script>
{% endblock %}