{% extends "base.html" %}
{% set active_page = "ap" %}
{% block title %}AP Exams - BearStatus{{title}} {% endblock %}
{% block head %}
    {{ super() }}
    <script src="view/javascript/ap.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
              <h1>Week 1 <small>May 4-8</small></h1>
              <table class="table table-hover">
                <thead>
                  <th>Week 1</th>
                  <th>Morning (8 a.m.)</th>
                  <th>Afternoon (12 p.m.)</th>
                </thead>
                <tr>
                  <td>Monday 5/4</td>
                  <td>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Chemistry</a><br>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="LL06, LL08">Environmental Science</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Tuesday 5/5</td>
                  <td>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Calculus AB</a><br>                    
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Calculus BC</a><br>                    
                    </td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym">Chinese Language and Culture</a></td>
                </tr>
                <tr>
                  <td>Wednesday 5/6</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">English Literature and Composition</a></td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="LL08">Japanese Language and Culture</a><br>
                  <a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Physics 1</a></td>
                </tr>
                <tr>
                  <td>Thursday 5/7</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="LL08">Computer Science</a><br>
                  <a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Spanish Language and Culture</a></td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Physics 2</a></td>
                </tr>
                <tr>
                  <td>Friday 5/8</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">United States History</a></td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">European History</a></td>
                </tr>
               </table>
              <h1>Week 2 <small>May 11-15</small></h2>
              <table class="table table-hover">
                <tr>
                  <th>Week 2</th>
                  <th>Morning (8 a.m.)</th>
                  <th>Afternoon (12 p.m.)</th>
                </tr>
                <tr>
                  <td>Monday 5/11</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Biology</a><br>
                  <a href="#" data-toggle="tooltip" data-placement="right" title="LL08">Music Theory</a></td>                                      
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">Physics C</a></td>
                </tr>
                <tr>
                  <td>Tuesday 5/12</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym">U.S. Government and Politics</a></td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym">French Language and Culture</a></td>
                </tr>
                <tr>
                  <td>Wednesday 5/13</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym/Weight Room">English Literature and Composition</a></td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym">Statistics</a></td>
                </tr>
                <tr>
                  <td>Thursday 5/14</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Friday 5/15</td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym">Human Geography</a><br>
                  <a href="#" data-toggle="tooltip" data-placement="right" title="Weight Room">Microeconomics</a></td>
                  <td><a href="#" data-toggle="tooltip" data-placement="right" title="Gym">Latin</a></td>
                </tr>
              </table>
          </div>
        <br/>
        <a href="http://goo.gl/gaRWSB"> &nbsp; </a>
      </div>
      <br>
    </div><!-- /.container -->
{% endblock %}