{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %}Edit Schedules - BearStatus{{title}} {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="content">
  <div class="container">
    <h1>Edit Schedules: {{edit_date}}
    </h1>
  </div>
</div>
<div id="center">
  <table class="table table-striped">
    <thead>
      <tr>
        <td><h5>Block</h5></td>
        <td><h5>Start Time</h5></td>
        <td><h5>End Time</h5></td>
      </tr>
    </thead>
    <form class="form-horizontal" role="form" method="post">
      <tbody>
      {% for i in range(0, blocks) %}
        <tr>
          <td><input type="text" class="form control" placeholder="Block Name" name="name{{i}}"></td>
          <td><input type="time" class="form control" placeholder="Start Time" name="start{{i}}"></td> 
          <td><input type="time" class="form control" placeholder="End Time" name="end{{i}}"></td>
        </tr>
        {% endfor %}
        <div class="row">
        </div>
        <div class="col-md-3 col-md-offset-9">
          <a class="btn btn-default" href="/admin" role="button">Cancel</a>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </tbody>
    </form>
  </table>
</div>
{% endblock %}