{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %}Edit Schedules - BearStatus{{title}} {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="content">
  <div class="container">
  {% if is_special == True %}
    <div class="alert alert-danger" role="alert">
         <strong>WARNING:</strong> This day already has a special schedule stored. Doing anything on this page will overwrite any existing special schedule for {{edit_date}}</div>
  {% endif %}
    <h1>Edit Schedules <small>{{edit_date}}</small>
    </h1>
  </div>
</div>
<div id="center">
  <table class="table table-striped">
    <thead>
      <tr>
        <td><h5>Block</h5></td>
        <td><h5>Start Time</h5></td>
        <td><h5>End Time</h5></td>
        <td><h5>Tooltip (opt.)</h5></td>
      </tr>
    </thead>
    <form class="form-horizontal" role="form" method="post">
      <tbody>
      {% for i in range(0, blocks) %}
        <tr>
          <td><input type="text" class="form control" placeholder="Block Name" name="name{{i}}"></td>
          <td><input type="time" class="form control" placeholder="Start Time" name="start{{i}}"></td> 
          <td><input type="time" class="form control" placeholder="End Time" name="end{{i}}"></td>
          <td><input type="text" class="form control" placeholder="Tooltip" name="tooltip{{i}}"></td>
        </tr>
        {% endfor %}
        <div class="row">
        </div>
        <div class="col-md-3 col-md-offset-9">
          <a class="btn btn-default" href="/admin" role="button">Cancel</a>
          {% if is_special == True %}
          <button type="submit" class="btn btn-danger">Save and Overwrite</button>
          {% else %}
          <button type="submit" class="btn btn-primary">Save</button>
          {% endif %}
        </div>
      </tbody>
    </form>
  </table>
</div>
{% endblock %}