{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %}
    {{ super() }}

    <!--Page-specific JS-->
    <script src="view/javascript/index.js"></script>

    {% if refresh_time %}
    <!-- Auto refresh -->
    <script>
        // run refresh function every 10 seconds which will reload page if appropriate
        setInterval(function(){refreshAt({{refresh_time}})}, 20000);
    </script>
    {% endif %}
    
    <!-- Popup to add to homescreen on iPhone -->
    <link rel="stylesheet" href="view/javascript/cubiq-add-to-homescreen/add2home.css">
    <script type="application/javascript" src="view/javascript/cubiq-add-to-homescreen/add2home.js"></script>
    
{% endblock %}
{% block navbar %}
  {{ super() }}
{% endblock %}
{% block content %}
      <div class="row">
        <div id="content">
          <div class="starter-template" id="welcome-message">
            <h1 class="logo" style="font-size: 54px;">BearStatus</h1>
              <h2>Quick Info</h2>
              <br/>
              {% if block.name %}
                <p> <u style= "font-size: 22px;">Now:</u> </p> <p style= "font-size: 18px;">{{block.name}}</p>
                Start: {{blocksTime}}
                <br> End: {{blockeTime}}<br>
              <br>
              {% endif %}
              {% if next_block.name %}
                <p> <u style= "font-size: 22px;">Next:</u> </p> <p style= "font-size: 18px;">{{next_block.name}}</p>
                Start: {{next_blocksTime}}
                <br> End: {{next_blockeTime}}
              {% endif %}
              {% if block.name is undefined and next_block.name is undefined %}
                <p> <u style= "font-size: 22px;">Now:</u></p> <p style= "font-size: 18px;">No School</p>
              {% endif %}
              <br/>
              <br/>
              <br/>
              <br/>
            </p>
          </div>
        </div>
      </div>
{% endblock %}