{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %} {{title}} {% endblock %}
{% block head %}
    {{ super() }}
    
    <meta name="description" content="Figure out the schedule at Blake with BearStatus.">

    <!-- Page-specific CSS, JS-->
    <link href="view/stylesheets/index.css" rel="stylesheet">
    <script src="view/javascript/index.js"></script>

    <!-- jQuery UI -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div id="info-area">

        <!-- Alert Banner -->
<!--         <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           Room assignments for common exams available <a href="http://goo.gl/D7kVZP" class="alert-link" target="_blank">here</a>. Good luck on your finals!
        </div> -->

          <div id="content">
            <div id="text">
              <h1 class="logo" style="font-size: 48px;">BearStatus</h1>
                <br/>

                <!-- Current Block -->
                {% if block.name %}
                  <p> <u style= "font-size: 22px;">Now:</u> </p>
                  {% if block.tooltip and block.tooltip != "" %}
                    <p style= "font-size: 18px;"><a href="#" data-toggle="tooltip" data-placement="right" title="{{block.tooltip}}">{{block.name}}</a></p>
                  {% else %}
                    <p style= "font-size: 18px;">{{block.name}}</p>
                  {% endif %}
                  Start: {{blocksTime}}
                  <br> End: {{blockeTime}}<br>
                <br>
                {% endif %}

                <!-- Next Block -->
                {% if next_block.name %}
                  <p> <u style= "font-size: 22px;">Next:</u> </p>
                    {% if next_block.tooltip and next_block.tooltip != "" %}
                      <p style= "font-size: 18px;"><a href="#" data-toggle="tooltip" title="{{next_block.tooltip}}">{{next_block.name}}</a></p>
                    {% else %}
                      <p style= "font-size: 18px;">{{next_block.name}}</p>
                    {% endif %}
                  Start: {{next_blocksTime}}
                  <br> End: {{next_blockeTime}}
                  {% endif %}

                <!-- If no current or next, show "No School" -->
                {% if block.name is undefined and next_block.name is undefined %}
                  <p> <u style= "font-size: 22px;">Now:</u></p> <p style= "font-size: 18px;">No School</p>
                {% endif %}

              </p>

            </div><!-- /.text -->
          </div><!-- /.content -->

          <!-- Alert Banner -->
<!--            <br>
          <div class="alert alert-success" role="alert">
             Split lunch schedule for today is <a href="/splitlunch" target="_blank">here.</a>
          </div> -->
          
        </div><!-- /.info-area -->
      </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}
{% block pageend %}

    {{ super() }}

    {% if refresh_time %}
    <!-- Auto refresh -->
    <script>
        // run refresh function every 10 seconds which will reload page if appropriate
        setInterval(function(){refreshAt({{refresh_time}})}, 20000);
    </script>
    {% endif %}
    
    <!-- Popup to add to homescreen on smartphones -->
    <link rel="stylesheet" type="text/css" href="view/stylesheets/addtohomescreen.css">
    <script src="view/javascript/addtohomescreen.min.js"></script>
    <script>
    addToHomescreen();
    </script>

{% endblock %}