{% extends "base.html" %}
{% set active_page = "schedule" %}
{% block title %}Schedule - BearStatus{% endblock %}
{% block head %}
    {{ super() }}
    <link href="view/stylesheets/schedule.css" rel="stylesheet">
    <script src="view/javascript/schedule.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="starter-template">
        <h1>Schedule <small>{{display_date}}</small></h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="schedule-container">
            {% if schedule == [] %}
              <div class="schedule-event" data-start-time="0" data-end-time="100">
                <div class="schedule-event-content">
                  <div class="schedule-event-content-text"><h4>No School</h4></div>
                </div>
              </div>
            {% else %}
              {% for event in schedule %}
                <div class="schedule-event" data-start-time="{{event.sTimeMinutes()}}" data-end-time="{{event.eTimeMinutes()}}">
                  <div class="schedule-event-content {% if is_today and event.isnow() %}now{% endif%}">
                    <div class="schedule-event-content-text"><h4>{{event.name}} <small>{{event.formsTime()}} to {{event.formeTime()}}</small></h4></div>
                  </div>
                </div>
                {% set now = false %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div id="center">
          <form action="/schedule" method="get">
            <br />
            <p class="lead">View another date: <input type="text" id="datepicker" placeholder={{short_date}} name="date">
            <button type="submit" class="btn btn-primary">View</button> </p>
          </form>
          <form action="/splitlunch" method="get" target="_blank">
            <button type="submit" class="btn btn-primary btn-sm">Split Lunch Schedule</button>
          </form>
        </div>
      </div>
    </div><!-- /.container -->
{% endblock %}
{% block pageend %}
  
    {{ super() }}    

    {% if refresh_time %}
      <!-- Auto refresh -->
      <script>
          // run refresh function every 10 seconds which will reload page if appropriate
          setInterval(function(){refreshAt({{refresh_time}})}, 20000);
      </script>
    {% endif %}

    <!-- jQuery custom stylesheets for the datepicker -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
    <!--Local datepicker js-->
    <script src="view/javascript/dates.js"></script>

{% endblock %}