{% extends "base.html" %}
{% set active_page = "schedule" %}
{% block title %}Schedule - BearStatus{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="description" content="See today's schedule at Blake with BearStatus.">

    <link href="view/stylesheets/schedule.css" rel="stylesheet">
    <script src="view/javascript/schedule.js"></script>

    <!-- jQuery UI -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

{% endblock %}
{% block content %}
    <div class="container">
      <div class="starter-template">
        <h1>Schedule <small class="hidden-xs">{{display_date}}</small><small class="visible-xs-inline">{{short_date}}</small></h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="schedule-container">
            {% if schedule == [] %}
              <div class="schedule-event" data-start-time="0" data-end-time="100">
                <div class="schedule-event-content">
                  <div class="schedule-event-content-text"><h4>No School</h4></div>
                </div>
              </div>
            {% else %}
              {% for event in schedule %}
                <div class="schedule-event" data-start-time="{{event.sTimeMinutes()}}" data-end-time="{{event.eTimeMinutes()}}">
                  <div class="schedule-event-content {% if is_today and event.isnow() %}now{% endif%}">

                    {% if event.tooltip and event.tooltip != "" %}
                      <div class="schedule-event-content-text"><h4><a href="#" data-toggle="tooltip" title="{{event.tooltip}}">{{event.name}}</a> <small>{{event.formsTime()}} to {{event.formeTime()}}</small></h4></div>
                    {% else %}
                      <div class="schedule-event-content-text"><h4>{{event.name}} <small>{{event.formsTime()}} to {{event.formeTime()}}</small></h4></div>
                    {% endif %}

                  </div>
                </div>
                {% set now = false %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div id="center"> 
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" id="pickdate">
            <form action="/schedule" method="get">
              <div class="input-group" id="viewdate">
                <input type="text" class="form-control" placeholder="View another date" id="datepicker" name="date">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">View</button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>
          <div>
            <form action="/splitlunch" method="get" target="_blank">
              <button type="submit" id="lunchbtn" class="btn btn-primary btn-sm">Split Lunch Schedule</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
{% endblock %}
{% block pageend %}
  
    {{ super() }}    

    {% if refresh_time %}
      <!-- Auto refresh -->
      <script>
          // run refresh function every 10 seconds which will reload page if appropriate
          setInterval(function(){refreshAt({{refresh_time}})}, 20000);
      </script>
    {% endif %}

    <!-- jQuery custom stylesheets for the datepicker -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    
    <!--Local datepicker js-->
    <script src="view/javascript/dates.js"></script>

{% endblock %}