{% extends "base.html" %}
{% set active_page = "schedule" %}
{% block title %}Schedule - BearStatus{% endblock %}
{% block head %}
    {{ super() }}
    <script src="view/javascript/schedule.js"></script>
    <link href="view/stylesheets/schedule.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
      <div class="starter-template">
        <h1>Schedule for {{display_date}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="schedule-container">
            {% if schedule == [] %}
              <div class="schedule-event" data-start-time="0" data-end-time="100">
                <div class="schedule-event-content">No School</div>
              </div>
            {% else %}
              {% for event in schedule %}
              <div class="schedule-event" data-start-time="{{event.sTimeMinutes()}}" data-end-time="{{event.eTimeMinutes()}}">
                <div class="schedule-event-content {% if event.isnow() %}now{% endif%}">{{event.name}}</div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div id="center">
          <form action="/schedule" method="get">
            <br />
            <p class="lead">View another date: <input type="text" id="datepicker" placeholder={{short_date}} name="date">
            <input type="submit" class="btn btn-primary" value="View"> </p>
          </form>
        </div>
      </div>
    </div><!-- /.container -->
{% endblock %}
{% block pageend %}
  {{ super() }}
    <!-- jQuery custom stylesheets for the datepicker -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
    <!--Local datepicker js-->
    <script src="view/javascript/dates.js"></script>
{% endblock %}