<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    h2
    {
      color: black;
    }
    
    body {
      padding-top: 70px;
    }
    
    #center {
      text-align: center;
    }
    
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico"/>
    
    <title>Date Selection</title>
    
    <!--Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
  </head>
  <body>

   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">BoringTime 0.1</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="schedule.html">Schedule</a></li>
          <li><a href="admin.html">Admin</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Dates</h1>
        <p class="lead">Input the date you would like to edit. Then press Edit.</p>
      </div>
    
     <!-- INTEGRATION: THESE ARE THE FORMS TO USE. LOOK AT THE NAME PROPERTY. --> 
      <div id="center">
        <form action="" method="post">
          Day: <input type: "text" name: "day#" placeholder="dd">
          Month: <input type: "text" name: "month#" placeholder="mm">
          Year: <input type: "text" name: "year#" placeholder="yyyy">
           <button type="button" class="btn btn-primary" href="edit.html">Edit</button>
      </div>     
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>