<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico"/>
    
    <title>BoringTime0.1 - Edit Schedule</title>
     
    <!--Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
    <style>
      #submit {
        clear: both;
        float: right;
        margin-right: 70px;
      }
      
      body {
        padding-top: 70px;
      }
    </style>
  <head/>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BearStatus</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Today's Schedule</a></li>
          <li><a href="#">Admin Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="bs-header" id="content">
      <div class="container">
        <h1>Edit Schedules</h1>
      </div>
    </div>
    <div class="bs-example">
      <table class="table table-striped">
        <thead>
          <tr>
          <th>Block #</th>
          <th>Start Time</th>
          <th>End Time</th>
          </tr>
        </thead>
        <form class="form-horizontal" role="form" method="post">
        <tbody>
          <tr>
            <td><input type="text" class="form control" placeholder="Text Input" name="name0"></td>
            <td><input type="text" class="form control" placeholder="Text Input" name="start0"></td>
            <td><input type="text" class="form control" placeholder="Text Input" name="end0"></td>
          </tr>
          <tr>
            <td><input type="text" class="form control" placeholder="Text Input" name="name1"></td>
            <td><input type="text" class="form control" placeholder="Text Input" name="start1"></td>
            <td><input type="text" class="form control" placeholder="Text Input" name="end1"></td>
          </tr>
          <tr>
            <td><input type="text" class="form control" placeholder="Text Input" name="name2"></td>
            <td><input type="text" class="form control" placeholder="Text Input" name="start2"></td>
            <td><input type="text" class="form control" placeholder="Text Input" name="end2"></td>
          </tr>  
        </tbody>
        </form>
      </table>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <a class="btn btn-default" href="#" role="button">Cancel</a>
        <a class="btn btn-primary" href="#" role="button">Save</a>
      </div>
    </div>
  </body>
</html>  