body { 
  padding-top: 70px; 
}

footer {
  position: inherit;
  bottom: 0px;
  text-align: center;
  font-size: 10px;
}

#content {
  position: inherit;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 400px;
  width: 90%;
  height: 500px;
  background-color: #c7bebe;
  border: 2px solid #c7bebe;
  border-radius: 10px;
}

#logo {
  font-family: 'Open Sans', sans-serif;
}