#info-area{
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 400px;
  width: 93%;
  margin-top: 3%;
}

#content {
  height: fit-content;
  background-color: #eaeaea;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

#text {
  padding: 20px 30px 35px 30px;
}

#alert{
  padding-top: 20px;
}

.container {
  margin-bottom: 10px;
}