#schedule-container {
  position: relative;
  margin-bottom: 10px;
}

.schedule-event {
  position: absolute;
  padding: 1px;
/*  margin-bottom: 0px;
  min-height: 5px;*/
}

.schedule-event-content {
/*  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;*/
  text-align: center;
  border-radius: 5px;
  border: 2px solid #999;
  height: 100%;
  background-color: #ddd;
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  

}

.schedule-event-content h4 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.schedule-event-content.now {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.panel {
  padding-top: 0px;
}

.panel-title {
  height: 15px;
  padding-top: 0px;
  padding-bottom: 3px;
/*  font-size: 14px;
  font-variant: "Medium"*/
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}