#schedule-container {
  position: relative;
  margin-bottom: 10px;
}

.schedule-event {
  position: absolute;
  padding: 1px;
  display: table;
  margin-bottom: 0px;
  min-height: 5px;
}

.schedule-event-content {
/*  border-radius: 5px;
  border: 2px solid #999;
  height: 100%;*/
  /*background-color: #ddd;*/
  text-align: center;
  display: table-cell; 
  vertical-align: middle; 
  height: 100%
}

.schedule-event.now {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.panel {
  padding-top: 0px;
}

.panel-title {
  height: 15px;
  padding-top: 0px;
  padding-bottom: 3px;
/*  font-size: 14px;
  font-variant: "Medium"*/
}

.panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}