#schedule-container {
  min-height: 500px;
  position: relative;
}

.schedule-event {
  position: absolute;
  padding: 1px;
}

.schedule-event-content {
  border-radius: 5px;
  border: 2px solid #999;
  height: 100%;
  text-align: center;
  font-size: 1.3em;
  background-color: #ddd;
}

.schedule-event-content.now {
  background-color: #5cb85c;
}