body {
  padding-top: 70px;
}

footer {
  position: inherit;
  bottom: 0px;
  text-align: center;
  font-size: 10px;
}

#center {
  text-align: center;
}

#logo {
  font-family: "Open Sans", sans-serif;
}