body {
  padding-top: 70px;
}

footer {
  position: inherit;
  bottom: 0px;
  text-align: center;
  font-size: 11px;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
}

#center {
  text-align: center;
}